
h1, h2, .predict--date, p {
    width: 100%;
    text-align: justify;
    margin-left: 38px;
    margin-right: 38px;
    font-family: sans-serif;
    max-width: 600px;
}

.input--div {
    margin-left: 38px;
}

.predict--text {
    color: green;
}

#clock {
    font-weight: bold;
    font-size: 40px;
}


@media screen and (max-width: 480px) {
    html {
       -webkit-text-size-adjust: none;
    }

    h1, h2, .predict--date, p {
        max-width: 350px;
    }
 }