
body {
    background-image: url('../../media/green-product-background.jpg');
    background-size: cover;
}


h1, .predict--date, #clock {
    width: 100%;
    color: #014c97;
    text-align: justify;
    margin-left: 38px;
    margin-right: 38px;
    font-family: sans-serif;
    max-width: 600px;
}

#clock {
    background: linear-gradient(to left, #7dc4b2, #fcd678 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
    width: 300px;
    border-radius: 5px;
    padding: 8px;
}

.predict--date {
    background: linear-gradient(to left, #9ef6e0, #f9dd94 100%);
    width: 300px;
    border-radius: 5px;
    padding: 8px;
}


.div--input {
    margin-left: 38px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

.predict--text {
    background: linear-gradient(to left, #9ef6e0, #f9dd94 100%);
    color: #014c97;
    border-radius: 15px;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    width: 300px;
    margin-left: 38px;
    margin-top: 5px;

}

#clock {
    font-weight: bold;
    font-size: 40px;
}

input[type="date"]::before { 
    content: attr(data-placeholder);
    width: 100%;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before { display: none }

input[type="date"]{
    background-color: #a4f5dd;
    color: #004c97;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    height: 45px;
    width: 200px;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.renderYesOrNo, .render--tost {
    width: 250px;
    margin-left: 38px;
    margin-top: 5px;
}

.renderYesOrNo:active {
    background-color: #c88546;
}

.render--tost:active {
    background-color: #c88546;
}


button {
    background-color: #f7de96;
    color: #3b3b3b;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    height: 45px;
    width: 80px;
    margin-left: 5px;
}